today
/*
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}
#root {
  text-align: center;
}


h1, h2 {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
}

p, h3 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: 64px;
  height: 56px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

.container-header-nav {
  margin: auto;
  width: 887px;
  height: 76px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

nav {
  width: 660px;
}


li {
  margin: 0;
  list-style-type: none;
  display: inline;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 20px;
}

a {
  color: black;
}

.homepage-cards {
  display: grid;
  grid-template-columns: 375px 375px;
  grid-column-gap: 137px;
  justify-content: center;
  width: 1440px;
  height: 406px;
  background-color: #495E57;
}

div {
  margin: 0;
  text-align: left;
}

div h1 {
  color: #F4CE14;
}

div h2 {
  color: white;
  margin-bottom: 8px;
}

.card p {
  color: white;
  font-size: 16px;
  margin-bottom: 4px;
  padding-left: 0;
}

button, #submit {
  width: 200px;
  height: 60px;
  background-color: #F4CE14;
  border-radius: 5px;
  margin-top: 16px;
}

button, #submit {
  margin-top: 0;
  margin-right: 0;
}

h1 {
  margin-left: 0;
  margin-top: 0;
}


.flex-container {
  max-width: max-content;
  margin-top: 70px;
}

.hero-header {
  display: flex;
  justify-content: space-between;
}

.hero-header h1 {
  color: black;
}

.hero-section-container {
  display: grid;
  grid-template-columns: 268px 268px 268px;
  grid-column-gap: 28px;
  justify-content: center;
  height: 439px;
  margin-top: 144px;

}

.hero-section-container p {
  color: #333333;
  padding-top: 20px;
}

.hero-section-container h3, p {
  padding-left: 20px;
  padding-right: 20px;
}

.hero-section-container img {
  width: 265px;
  height: 185px;
  border-radius: 20px 20px 0px 0px;
}

.hero-section-container div {
  background-color: #EDEFEE;
  border-radius: 20px 20px 0px 0px;
} */

/* .container-header-nav {
  background-color: brown;
  margin: auto;
  width: 887px;
  height: 76px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}  */
